.container {

}

.doors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 660px;
    background-color: orange;

}

.door{
    width: 80px;
    height: 84px;
    margin: 4px;
    background-color: #555;
    border: 3px solid #fff;
    transform: skewX(-14deg);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform .1s, background-color .6s;
}

.door:hover {
    background-color: orange;
    transform: skewX(-14deg) scale(1.3);
    z-index: 1;

}

.door .image {

}